@import 'tailwindcss';

@theme {
  --color-primary: #d96946;
  --color-dark: #020617; /* darker tint, previously blue */
  --color-light: #ffffff;
  --color-darker: #020617;
  --color-success: #39ab6b;
  --color-error: #e54448;
}

body {
  position: relative;
  background: var(--color-dark);
  color: var(--color-light);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  min-height: 100dvh;
  overflow-x: hidden;
}

/* blurred, darkened background image */
body::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  background:
    radial-gradient(circle at top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95)),
    url('/jumping.jpg') center top no-repeat;
  background-size: 1400px;
  background-position: center top;
  filter: blur(2px); /* larger = more blur */
  opacity: 0.8; /*1 = no opacity*/
  pointer-events: none;
}

/* center from image top */
body:has(.game-single)::before {
  background-position: center top 100px;
}

body:has(.register-page) .login-link {
  text-decoration: underline;
}

body:has(.login-page) .register-link {
  text-decoration: underline;
}

@media (min-width: 640px) {
  body::before {
    background-size: 1920px;
  }
}

@media (min-width: 1920px) {
  body::before {
    background-size: 90%;
  }
}

.wrapper {
  min-height: 100dvh;

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

header {
  padding-block: 1rem;
  border-bottom: 1px solid var(--color-light);
}

table {
  th,
  td {
    padding-bottom: 1rem;

    &:not(:last-child) {
      padding-right: 1.5rem;
    }
  }

  th {
    text-align: left;
  }
}

.text-input {
  border: 1px solid var(--color-light);
  background: transparent;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.form-label {
  @apply flex flex-col gap-2;
}

.check {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: var(--color-primary);
}

.link {
  text-decoration: underline;
}

.main-border {
  @apply border-1 rounded-lg;
}

.button {
  display: inline-flex;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  white-space: nowrap;
  justify-content: center;

  &:disabled {
    opacity: 0.5;
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-light);
  }

  &.secondary {
    border: 1px solid var(--color-light);
    color: var(--color-light);
  }

  &.simple {
    text-decoration: underline;
    color: var(--color-primary);
    padding: 0;
  }
}

.modal-wrap {
  border: 1px solid var(--color-light);
  padding: 2.5rem;
  border-radius: 8px;
}

.the-form {
  #message {
    &:empty {
      display: none;
    }
  }
}

.games-list {
  .the-table {
  }
}

.game-single {
  .the-table {
    tr.inputs {
      input[type='text'],
      input[type='number'] {
        width: 7rem;
      }
    }
  }

  table {
    th,
    td {
      white-space: nowrap;
    }

    tr.text {
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }
}

.outer-scroll::-webkit-scrollbar {
  display: none;
}
